<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Famosos del Mundo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <app-sitios 
    title="Descubre las celebridades de tu pais favorito"
    selectLabel="Seleccionar Famoso"
    selectPlaceholder="Seleccione un Famoso">
  </app-sitios> 

   <app-top10-sitios 
    title="Descubre las celebridades de tu pais favorito"
    selectLabel="Seleccionar Famoso"
    selectPlaceholder="Seleccione un Famoso">
  </app-top10-sitios>
</ion-content>