<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Famosos del Mundo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-gallery 
    title="Descubre las celebridades de tu pais favorito"
    selectLabel="Seleccionar Famoso"
    selectPlaceholder="Seleccione un Famoso">
  </app-gallery>
  
  <app-ranking-famosos 
    title="Descubre las celebridades de tu pais favorito"
    selectLabel="Seleccionar Famoso"
    selectPlaceholder="Seleccione un Famoso">
  </app-ranking-famosos>
</ion-content>